:root {
    --text: white;
    --day: #4a90e2;
    --Night: #1e3a5f;
    --txt1: #f5f5f5e5;
    --txt2: #f5f5f5d2;
    --sunny: #fdb813;
    --cloudy: #b0bec5;
    --rainy: #4a90e2;
    --stormy: #37474f;
    --snowy: #e3f2fd;
    --Foggy: #9e9e9e;
    --blue: #007bff;
    --glass-blur: 20px;
    --offwhite: #c8a2c8;
    --green: #046307;
    --plar: #e5e4e2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--txt1);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

html,
body {
    width: auto;
    height: auto;
}

body video {
    position: fixed;
}

header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 1.6em;
}

#city {
    font-size: 0.9em !important;
    margin-top: 20px;
}

header .temp {
    font-size: 5rem;
    align-self: center;
}

header .Info {
    justify-self: center;
    align-items: center;
    text-align: center;
    /* font-size: 1.5rem; */
}


#search::placeholder {
    font-size: large;
    color: rgba(0, 0, 0, 0.641);
    text-align: center;
}

main {
    height: auto;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom,var(--Night),#000000b2); */
}

ol {
    position: relative;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    gap: 15px;
    top: 15%;
    bottom: 25%;
}

ol::-webkit-scrollbar,
.container::-webkit-scrollbar {
    display: none;
}

div {
    position: relative;
    font-size: 2rem;
}

div li {
    font-size: small;
    padding: 10px;
    align-self: center;
}

ol li {
    scroll-snap-align: center;
}

.Time {
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
}

.Changes_In_Day {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: var(--Night); */
    background: rgb(0 0 0 / 16%);
    min-width: 350px;
    max-width: 800px;
    width: 80%;
    height: auto;
    backdrop-filter: blur(10px);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
}

#weekly {
    /* display: flex;
    text-align: center; */
    width: 80%;
    text-align: center;
    padding: 20px;
    background-color: var(--Night);
    border-radius: 25px;
}

.main {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    min-width: 350px;
    max-width: 790px;
    width: 80vw;
    height: auto;
    overflow-x: auto;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    border: 0px solid #1f1f3b;
    border-radius: 28px;
    gap: 10px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
}

.Changes_In_Day p,
.details p {
    margin: 0;
    padding-left: 20px;
    font-size: .52em;
    font-weight: 600;
    color: var(--txt2);
}

.fa-solid {
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 30px;
}

.sub {
    flex: 0 0 250px;
    height: 150px;
    align-self: center;
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgb(0 0 0 / 16%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    scroll-snap-align: start;
    scroll-snap-type: proximity;
    /* transform: translate3d(0, 0, -100px); */
    backdrop-filter: blur(10px);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
    ;
}

.sub h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.sub b {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 5px;

}


.sub p {
    font-size: 14px;
    font-weight: bold;
}

#heading {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    font-size: .52em;
    font-weight: 500;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherCondition {
    text-decoration: wavy;
}

/* search Bar */

#search {
    font-size: x-large;
    caret-color: rgba(0, 0, 0, 0.344);
    color: #1f1f3b;
    width: 55vw;
    height: inherit;
    background: transparent;
    align-self: center;
    border: none;
    backdrop-filter: blur(10px);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
    text-align: center;
    ;
    /* transform: translate(0%,-27%); */
}


#search:focus,
.search:focus {
    border: none;
    outline: none;
    background: transparent;
    color: black;
}

.search {
    z-index: 99999;
    display: flex;
    /* flex-direction:column; */
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 2.5rem;
    padding: 5px 10px;
    margin-bottom: 20px;
    /* background-color: var(--cloudy); */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
    transition: all 0.6s ease-in-out;
}

.search i {
    margin: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.638);
    justify-content: flex-start;
}

#search:active {
    border: none;
}


.wind {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    min-width: 350px;
    max-width: 800px;
    width: 80%;
    height: auto;
    gap: 20px;
    margin-bottom: 25px;
}

.details {
    display: flex;
    flex: 1 1 150px;
    flex-direction: column;
    min-width: 200px;
    max-width: 800px;
    width: 50%;
    height: 220px;
    /* background-color: var(--Night); */
    background: rgb(0 0 0 / 16%);
    padding: 20px 25px 10px 0;
    backdrop-filter: blur(10px);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
    ;
}

section {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding-left: 25px;

}

section h5 {
    font-size: .48em;
}

.air {
    flex: 1 1 150px;
    width: 50%;
    min-width: 200px;
    /* min-width: 250px; */
    height: 220px;
    /* background-color: var(--Night); */
    background: rgb(0 0 0 / 16%);
    backdrop-filter: blur(10px);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
    margin-bottom: 2p5x;
}

.airsec {
    padding-left: 15px;
}

.air p {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--txt2);
    overflow-wrap: break-word;
}

.air #head {
    padding: 20px 0 0 20px;
}

.air #slider {
    width: 95%;
    height: 5%;
}

.airsec {
    gap: 0;
    padding-left: 25px;
    font-size: .52em;
}

/* range (Progress Bar) */
#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 10px;
    /* green red and blue or yellow for the bar */
    background: linear-gradient(to right, #32CD32, #FFD700, #FF4500);
    outline: none;
    opacity: 1;
    transition: opacity 0.3s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    border: 0.5px solid rgba(200, 195, 195, 0.552);
}

#slider::-moz-range-thumb {
    width: 1px;
    height: 2px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    border: 2px solid #fff;
}

#slider {
    margin-top: 10px;
}


.search.active {
    height: 50px;
    border-radius: 28px;
}

.container {
    width: 100vw;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 30px;
}

#suggestions {
    width: 65vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: brightness(1.1) blur(8px) url(#displacementFilter);
    border-radius:  22px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-8px -10px 46px #0000005f);
    position: absolute;
    z-index: 99999;
    transform: translateY(69%);
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    max-height: 200px;
    overflow-y: auto;
    gap: 8px;
     list-style: none;
    padding: 0 25px;
    /* margin-top: 30px; */
}

#suggestions li {
    border-bottom: .5px solid #dddddd7c;
    font-size: 0.6em;
    color: var(--txt1);
    text-align: left;
    width: 100%;
    padding: 2px 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#suggestions li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}

#intro{
    position: fixed;
    top: 0;
    background-color: #121212;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 3px;
}

#intro h3{
    font-size: 2.5vh

}